# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/assets/fonts/demo.html
src/assets/fonts/ProximaSoft-Black.eot
src/assets/fonts/ProximaSoft-Black.ttf
src/assets/fonts/ProximaSoft-Black.woff
src/assets/fonts/ProximaSoft-Black.woff2
src/assets/fonts/ProximaSoft-BlackIt.eot
src/assets/fonts/ProximaSoft-BlackIt.ttf
src/assets/fonts/ProximaSoft-BlackIt.woff
src/assets/fonts/ProximaSoft-BlackIt.woff2
src/assets/fonts/ProximaSoft-Bold.eot
src/assets/fonts/ProximaSoft-Bold.ttf
src/assets/fonts/ProximaSoft-Bold.woff
src/assets/fonts/ProximaSoft-Bold.woff2
src/assets/fonts/ProximaSoft-BoldIt.eot
src/assets/fonts/ProximaSoft-BoldIt.ttf
src/assets/fonts/ProximaSoft-BoldIt.woff
src/assets/fonts/ProximaSoft-BoldIt.woff2
src/assets/fonts/ProximaSoft-ExtraBold.eot
src/assets/fonts/ProximaSoft-ExtraBold.ttf
src/assets/fonts/ProximaSoft-ExtraBold.woff
src/assets/fonts/ProximaSoft-ExtraBold.woff2
src/assets/fonts/ProximaSoft-ExtraBoldIt.eot
src/assets/fonts/ProximaSoft-ExtraBoldIt.ttf
src/assets/fonts/ProximaSoft-ExtraBoldIt.woff
src/assets/fonts/ProximaSoft-ExtraBoldIt.woff2
src/assets/fonts/ProximaSoft-Light.eot
src/assets/fonts/ProximaSoft-Light.ttf
src/assets/fonts/ProximaSoft-Light.woff
src/assets/fonts/ProximaSoft-Light.woff2
src/assets/fonts/ProximaSoft-LightIt.eot
src/assets/fonts/ProximaSoft-LightIt.ttf
src/assets/fonts/ProximaSoft-LightIt.woff
src/assets/fonts/ProximaSoft-LightIt.woff2
src/assets/fonts/ProximaSoft-Medium.eot
src/assets/fonts/ProximaSoft-Medium.ttf
src/assets/fonts/ProximaSoft-Medium.woff2
src/assets/fonts/ProximaSoft-MediumIt.eot
src/assets/fonts/ProximaSoft-MediumIt.ttf
src/assets/fonts/ProximaSoft-MediumIt.woff
src/assets/fonts/ProximaSoft-MediumIt.woff2
src/assets/fonts/ProximaSoft-Regular.eot
src/assets/fonts/ProximaSoft-Regular.ttf
src/assets/fonts/ProximaSoft-Regular.woff2
src/assets/fonts/ProximaSoft-RegularIt.eot
src/assets/fonts/ProximaSoft-RegularIt.ttf
src/assets/fonts/ProximaSoft-RegularIt.woff2
src/assets/fonts/ProximaSoft-SemiBold.eot
src/assets/fonts/ProximaSoft-SemiBold.ttf
src/assets/fonts/ProximaSoft-SemiBold.woff
src/assets/fonts/ProximaSoft-SemiBold.woff2
src/assets/fonts/ProximaSoft-SemiBoldIt.eot
src/assets/fonts/ProximaSoft-SemiBoldIt.ttf
src/assets/fonts/ProximaSoft-SemiBoldIt.woff
src/assets/fonts/ProximaSoft-SemiBoldIt.woff2
src/assets/fonts/ProximaSoft-Thin.eot
src/assets/fonts/ProximaSoft-Thin.ttf
src/assets/fonts/ProximaSoft-Thin.woff
src/assets/fonts/ProximaSoft-Thin.woff2
src/assets/fonts/ProximaSoft-ThinIt.eot
src/assets/fonts/ProximaSoft-ThinIt.ttf
src/assets/fonts/ProximaSoft-ThinIt.woff
src/assets/fonts/ProximaSoft-ThinIt.woff2
src/assets/fonts/stylesheet.css
