@import "tailwindcss";
@font-face {
    font-family: 'Franca';
    src: url('assets/fonts/Rene\ Bieder\ -\ Franca\ DEMO\ Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#logoText{
    font-family: 'Franca', sans-serif;
}
#navLinks{
    font-family: 'Franca', sans-serif;
}